@font-face {
  font-family: 'proxima_nova_bold';
  src: url('./fonts/proximanova-bold-webfont.eot');
  src: url('./fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/proximanova-bold-webfont.woff2') format('woff2'),
       url('./fonts/proximanova-bold-webfont.woff') format('woff'),
       url('./fonts/proximanova-bold-webfont.ttf') format('truetype'),
       url('./fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_bold_italic';
  src: url('./fonts/proximanova-boldit-webfont.eot');
  src: url('./fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/proximanova-boldit-webfont.woff2') format('woff2'),
       url('./fonts/proximanova-boldit-webfont.woff') format('woff'),
       url('./fonts/proximanova-boldit-webfont.ttf') format('truetype'),
       url('./fonts/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'proxima_nova_regular';
  src: url('./fonts/proximanova-regular-webfont.eot');
  src: url('./fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/proximanova-regular-webfont.woff2') format('woff2'),
       url('./fonts/proximanova-regular-webfont.woff') format('woff'),
       url('./fonts/proximanova-regular-webfont.ttf') format('truetype'),
       url('./fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_regular_italic';
  src: url('./fonts/proximanova-regularitalic-webfont.eot');
  src: url('./fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/proximanova-regularitalic-webfont.woff2') format('woff2'),
       url('./fonts/proximanova-regularitalic-webfont.woff') format('woff'),
       url('./fonts/proximanova-regularitalic-webfont.ttf') format('truetype'),
       url('./fonts/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'edo_regular';
  src: url('./fonts/edo-webfont.eot');
  src: url('./fonts/edo-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/edo-webfont.woff') format('woff'),
       url('./fonts/edo-webfont.ttf') format('truetype'),
       url('./fonts/edo-webfont.svg#edoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 1920px;
  width: 1280px;
  overflow: hidden;
  background: url('./images/concert-back-1.png') center center / cover no-repeat no-repeat;
}

body {
  padding: 0;
  margin: 0;

  font-family: 'proxima_nova_regular';
  font-size: 36px;
}

h1, h2, h3 {
  font-family: 'edo_regular';
}

h1 {
  font-size: 96px;
  margin-bottom: 5px;
}

.screen {
  transition: opacity 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: url('./images/concert-back-1.png') center center / cover no-repeat no-repeat;
}

.hide {
  /* display: none; */
  opacity: 0;
}

.show {
  /* display: block; */
  opacity: 1;
}

.screen-intro-header {
  padding-top: 800px !important;
  position: relative;
  z-index: 1;
}

.screen-intro-header h1 {
  font-size: 180px;
  margin: 2px;
}

.screen-intro-header h2 {
  font-size: 112px;
  margin: 2px;
}

.pose-img {
  transition: opacity 2s ease-in-out;
  position: absolute;
  top: 65%;
  left: 50%;
  max-width: 900px;
  width: 100%;
  max-height: 1150px;
  height: 100%;
  transform: translate(-50%, -60%);
  object-fit: contain;
}

.pose-img-overlay {
  opacity: 0.4;
  position: absolute;
  top: 65%;
  left: 50%;
  max-width: 900px;
  max-height: 1200px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -60%);
  object-fit: contain;
}

#screen-exit {
  background: url('./images/concert-back-2.png') center center / cover no-repeat no-repeat;
}

.screen-exit-header h1 {
  font-size: 120px;
}

.pose-exit {
  margin-top: 1300px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  font-family: 'proxima_nova_bold';
  color: white;
}

.pose-res {
  width: 420px;
  margin-left: -90px;
  float: left;
  transform: rotate(-90deg);
}

.pose-res-1 {
  margin-top: 200px;
  margin-left: -5px;
}

.pose-res-2 {
  margin-top: 350px;
}

.pose-res-3 {
  margin-top: 500px;
}

.header {
  color: white;
  text-align: center;
  min-height: 284px;
  padding: 47px 0;
}

.music-video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
}

.webcamVideo {
  /* is the width, because its rotated */
  height: 900px;
  transform: rotate(-90deg) translateX(-1350px) translateY(75px);
  transform-origin: top left;
  object-fit: cover;
  position: absolute;
  /* transform: rotate(-90deg) translateX(-780px) translateY(85px); */
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 100px;
  margin: 0;
  z-index: 1000;
}

.press-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  font-family: 'proxima_nova_bold';
  color: white;
}
